<header
  class="bg-zinc-900 w-full shadow-md px-6 py-4 flex justify-between items-center shadow-"
>
  <div class="flex items-center">
    <span class="text-2xl font-bold text-yellow-400">DabaStock</span>
  </div>

  <div class="relative">
    <button
      #dropdown_btn
      class="bg-zinc-800 dropdown_btn hover:bg-zinc-700 text-yellow-400 font-semibold cursor-pointer rounded-lg px-4 py-2 flex items-center space-x-2"
    >
      <span>Hi, Ahmed</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    @if (dropDown()) {
    <div>
      <ul
        class="absolute top-11 left-0 w-full bg-zinc-8 bg-zinc-800 rounded-md p-1"
      >
        <li
          [routerLink]="'/profile'"
          class="bg-zinc-800 hover:bg-zinc-700 text-orange-400 font-semibold cursor-pointer px-4 py-2 flex items-center space-x-2"
        >
          <mat-icon>person</mat-icon> <span>Profile</span>
        </li>
        <li
          [routerLink]="'/auth'"
          class="bg-zinc-800 hover:bg-zinc-700 text-red-400 font-semibold cursor-pointer px-4 py-2 flex items-center space-x-2"
        >
          <mat-icon>logout</mat-icon> <span>Logout</span>
        </li>
      </ul>
    </div>
    }
  </div>
</header>
